/* TABLE OF CONTENT

1 GLOABL

2 NAVIGATION

3 MAIN SECTION

4 MEDIA QUERIES

*/


/*  ======
    GLOABL
    ====== */
:root {
    --ff-primary: 'Source sans pro', sans-serif;
    --ff-secondary: monospace;

    --fw-regular: 300;
    --fw-bold: 600;

    --clr-light: #10B39D;
    --clr-light-dark: #05393c;
    --clr-dark: #02171b;
    --clr-accent: rgb(228, 228, 228);

    --fs-h1: 2rem;
    --fs-h2: 1.7rem;
    --fs-p: 1.1rem;
    --fs-body: 1rem;
    --fs-code: 0.9rem;
    --fs-li: 1rem;
    --fs-li-a: 1.1rem
}

@media (max-width: 60rem) {
    :root {
    --fs-h1: 1.8rem;
    --fs-h2: 1.6rem;
    --fs-p: 1rem;
    --fs-body: 0.9rem;
    --fs-code: 0.8rem;
    --fs-li: 0.9rem;
    --fs-li-a: 1rem
    }
}

@media (max-width: 50rem) {
    :root {
    --fs-h1: 1.7rem;
    --fs-h2: 1.5rem;
    --fs-p: 0.9rem;
    --fs-body: 0.8rem;
    --fs-code: 0.7rem;
    --fs-li: 0.8rem;
    --fs-li-a: 0.9rem
    }
}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-light);
    border-radius: 100vw;
    border: 0.2em solid var(--clr-dark);
}

::-webkit-scrollbar-track {
    background: var(--clr-dark);

}

@supports (scrollbar-color: var(--clr-light) var(--clr-dark)) {
    * {
        scrollbar-color: var(--clr-light) var(--clr-dark);
        scrollbar-width: thin;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light-dark);
    font-family: var(--ff-primary);
    color: var(--clr-light);
    font-size: var(--fs-body);
    line-height: 1.5;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
p { font-size: var(--fs-p) }
code { font-size: var(--fs-code) }
li { font-size: var(--fs-li) }
li a { font-size: var(--fs-li-a) }

a {
    position: relative;
    text-decoration: none;
    color: var(--clr-accent);
}




/*  ==========
    NAVIGATION
    ========== */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20rem;
    background: var(--clr-dark);
    z-index: 1;
    overflow-y: auto;
}

.nav__head {
    text-align: center;
    border-bottom: 0.3em solid var(--clr-light-dark);
    width: 100%;
}

.nav__header {
    color:  var(--clr-light);
}

.nav__logo {
    height: 3em;
    width: 3em;
    margin-top: 1em;
}

.nav__links {
    padding: 0.5em 1.5em;
}

.nav__item {
    padding-block: 0.4em;
    list-style: none;
}

.nav__link {
    position: relative;
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    padding-block: 0.3em;
}

.nav__link:hover {
    color: var(--clr-accent);
    text-shadow: 1px 0px 2px var(--clr-accent);
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-property: all;
}

.nav__link::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.07em;
    width: 100%;
    background-color: var(--clr-light);
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

.nav__link:hover::before {
    transform: scaleX(1);
    background-color: var(--clr-accent);
}




/*  ============
    MAIN SECTION
    ============ */

.main {
    position: absolute;
    top: 0;
    left: 20rem;
    margin: auto;
    color: var(--clr-light);
    padding-inline: 2em;
}

.main__section {
    padding: 40px 0;
}
h2 {
    margin-bottom: 0.5em;
}

p {
    padding: 0.3em 1em;
}

ul {
    padding: 0.5em 2.5em;
}

li {
    padding-block: 0.3em;
}

hr {
    height: 0.4em;
    width: 100%;
    background: var(--clr-light-dark);
    border: 0.1em solid var(--clr-light);
    border-radius: 20px;
}

code {
    width:fit-content;
    background: var(--clr-dark);
    font-family: var(--ff-secondary);
    color: var(--clr-light);
    border-radius: 3px;
}

.code--block {
    display: block;
    margin: 1em 1.2em;
    padding: 1em 1.5em;
}

.code--inline {
    display: inline-block;
    padding-inline: 0.5em;
}

.main--reference-link {
    padding-block: 0.1em;
}

.main--reference-link:hover {
    text-shadow: 1px 0px 2px var(--clr-accent);
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

.main--reference-link::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.06em;
    width: 100%;
    background-color: var(--clr-accent);
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

.main--reference-link:hover::before {
    transform: scaleX(1);
}

.button--return-top {
    display: none;
}

/*  =============
    MEDIA QUERIES
    ============= */


@media (max-width: 60rem) {
    .main {
        left: 18rem;
    }

    .nav {
        width: 18rem;
    }
}

@media (max-width: 50rem) {
    .main {
        left: 16rem;
    }

    .nav {
        width: 16rem;
    }
}

@media (max-width: 50rem) {
    .nav {
        flex-direction: column;
        position: relative;
        top: 0;
        max-height: 300px;
        width: 100%;
        border-bottom: 3px solid var(--clr-light);
        align-items: flex-start;
    }

    .nav__header {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .logo nav__logo {
        height: 40px;
        width: 40px;
        margin-top: 0;
    }

    .main {
        position: absolute;
        top: 300px;
        left: 0;
        padding: 0 15px;
    }

    .button--return-top {
        display: block;
        padding: 10px;
        position: fixed;
        top: 92vh;
        left: 90vw;
        background-color: var(--clr-dark);
        border: 0.13em solid var(--clr-light);
        color: var(--clr-light);
        font-weight: var(--fw-bold);
        font-size: calc(var(--fs-body) * 1.3);
        border-radius: 0.2rem;
    }

    .button--return-top:hover {
        background-color: var(--clr-dark);
        border: 0.13em solid var(--clr-light);
        color: var(--clr-accent);
        text-shadow: 1px 0px 2px var(--clr-accent);
    }
}
